.editar {
  min-height: 100vh;
  padding-top: 4rem;

  background: url('../../assests/bg3.jpg') no-repeat center center;
  background-size: cover;
}

@media (max-width: 48rem) {
  .editar{
    padding-top: 1rem;
  }
}
