:root {
  --white: white;
  --gray: #333;
  --yellow: #fea;
  --orange: #fb1;
  --pink: #E45C9C;
  --green: #628815;
  --type-first: Helvetica, Arial, sans-serif;
  --type-second: 'Spectral', Georgia;
}
